server:
  port: 8889
spring:
  application:
    name: auth-gateway
  devtools:
    restart:
      additional-paths: /src/main/java
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: luc
    password: luc123456
    url: jdbc:mysql://localhost:3306/auth_center?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC&useSSL=FALSE
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true # 开启配置中心，网关将从配置中心获取服务的地址
      routes:           # 启用配置中心后， 将从配置中心拉取service-test-luc1服务的地址，用来组装uri
        - id: service-test-luc1
          uri: lb://service-test-luc1 #http://localhost:18889   # lb://service-test-luc1表示以负载均衡的方式获取对实例service-test-luc1的请求进行路由
          predicates:
            - Path=/service-test-luc1/**
          filters:
            - StripPrefix=1
        - id: service-test-luc2
          uri: lb://service-test-luc2
          predicates:
            - Path=/service-test-luc2/**

mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml
  global-config:
    db-config:
      logic-delete-field: status
      logic-delete-value: 0
      logic-not-delete-value: 1
logging:
  level:
    root: info
  config: classpath:logback-lc.xml
  file:
    path: ${spring.application.name}/logs

